@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  color: var(--text);
}

/*
 * fix for stupid copilotkit
 */
.copilotkit-fix {
  padding-bottom: 32px;
}
.copilotkit-fix .cpk\:overflow-y-scroll.cpk\:overflow-x-hidden {
  overflow-y: auto;
}
.copilotkit-fix [data-language] {
  background-color: var(--text);
}
.copilotkit-fix code .block {
  display: block;
}

.tool-budget {
  background: #bcbcbc;
  border-radius: 8px;
  padding: 8px;
}

